<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Alex--node.js final project</title>
    <link rel="stylesheet" type="text/css" href="./alex.css">
  </head>

  <body>
    <!-- <span class='title'><%= title %></span> -->
    <div>
      <h1 class='header'><span id='page-header'><%= header %></span></h1>
    </div>
    <div>
      <h2 class='title'><span id='route-title'><%= title %></span></h2>
    </div>

    <div class="items-block">
      <ul class='items'>
        <% for(let i=0; i < routes.length; i++) {%>
        <li class='item'><%= routes[i] %></li>
        <% } %>
      </ul>
    </div>
  </body>

</html>