body {
    margin: 0;
    pading: 0;
    background-color: #E1F1FF;
}

.header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#page-header {
    background-color: #01579b;
    color: #FFEEC5;
    font-size: 200%;
    font-weight: 800;
}

.title {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#route-title {
    background-color: #F5DAFF;
    color: #C51F5D;
    font-size: 180%;
    font-weight: 600;
}

.items-block {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    font-size: 165%;
    color: #C51F5D;
}